@font-face {
  font-family: "PT";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  position: relative;
  background-color: #a4cbe3;
  background-image: url(../images/background_mask.svg), url(../images/background_hero.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 50%;
  /* background-size: 1200px 57px, 1200px 485px; */
  background-size: 100%, 100% 100%;
}

.hero img {
  display: block;
  margin: 0 auto;
}

.subscribe {
  color: #FFFFFF;
  background-image: url(../images/background_subscribe.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-color: #a4cbe3;
  padding-left: 258px;
  padding-top: 86px;
  padding-right: 258px;
  padding-bottom: 104px;
}

.subscribe h2, .subscribe p, .subscribe form{
  text-align: center;
}

.filter-wrapper {
  color: #FFFFFF;
  background-image: url(../images/background_filter.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-color: #71a2bf;
}

.filter-wrapper .current-page {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.advantages-background {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button {
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}

input {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 24px;
}

.cust input {
  font-weight: 700;
}

.want-here, .details {
  background-color: #756157;
}

.favority-button {
  background-color: #82B3D3;
}

.current-favority {
  background-color: #7DB54F;
}

a {
  color: #000000;
  text-decoration: none;
}

.nav-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.subscribe p, .advantages-background p, .filter-wrapper p, .filter-wrapper span {
  color: #FFFFFF;
}

.services-list p, .subscribe-catalog p {
  color: #333333;
}

.search-hotel {
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.hotel-filter-form legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotel-filter-form label {
  font-size: 18px;
  line-height: 23px;
}

.hotel-gallery-list h3 {
  text-transform: none;
}

.cust ::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.filter-form-apply {
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.filter-form-reset {
  color: #FFFFFF;
  background-color:  #71a2bf;
  background: transparent;
  border: none;
}

select {
  color: #333333;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.rating {
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-item .current-pagination, .pagination-item .ellipsis {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
}
